.idea
.env
.docker
# ignore certificates/keys
**/*.pem
**/*.crt
**/*.key
# ignore generated configs
v2ray-docker-client/config/config.json
v2ray-upstream-server/config/config.json
haproxy-bridge-server/haproxy.cfg
v2ray-data